/*-S-T-A-R-T--------------------*\
|         Colored Tags           |
\*------------------------------*/
/*----------Personal------------*/
.data.tags span a[href*="=Favorite"] { border: 1px solid #ff65ad; color: #c6aa48 !important }
.data.tags span a:hover[href*="=Favorite"] { background: #ff65ad; color: #191919 !important }

.data.tags span a[href*="=Must%20Watch"] { border: 1px solid #bc506c; color: #bc506c !important }
.data.tags span a:hover[href*="=Must%20Watch"] { background: #bc506c; color: #dddddd !important }

.data.tags span a[href*="=Personal"] { border: 1px solid #c6aa48; color: #c6aa48 !important }
.data.tags span a:hover[href*="=Personal"] { background: #c6aa48; color: #191919 !important }

.data.tags span a[href*="=Rewatched"] { border: 1px solid #bc8050; color: #bc8050 !important }
.data.tags span a:hover[href*="=Rewatched"] { background: #bc8050; color: #dddddd !important }

.data.tags span a[href*="=Manga"] {  color: #bc8050 !important }
.data.tags span a:hover[href*="=Manga"] { background: #bc8050; color: #dddddd !important }

/*------------Positive-----------*/
.data.tags span a[href*="=Easy%20Watch"] { color: RGBA(80,188,80,0.8) !important }
.data.tags span a:hover[href*="=Easy%20Watch"] { background: RGBA(80,188,80,0.8); color: #dddddd !important}

.data.tags span a[href*="=Chill"] { color: #50bcb3 !important}
.data.tags span a:hover[href*="=Chill"] { background: #50bcb3; color: #000000 !important}

.data.tags span a[href*="=Art%2FAnimation"] { color: #a4c2f4 !important}
.data.tags span a:hover[href*="=Art%2FAnimation"] { background: #a4c2f4; color: #000000 !important}

.data.tags span a[href*="=Good%20Plot"] { color: #a4c2f4 !important}
.data.tags span a:hover[href*="=Good%20Plot"] { background: #a4c2f4; color: #000000 !important}

/*------------Negative-----------*/
.data.tags span a[href*="=Not%20Worth"] { color: #8f2f31 !important }
.data.tags span a:hover[href*="=Not%20Worth"] { background: #7b2224; color: #dddddd !important }

.data.tags span a[href*="=Boring"] { color: #bc5050 !important}
.data.tags span a:hover[href*="=Boring"] { background: #bc5050; color: #dddddd !important }

.data.tags span a[href*="=Bad%20Animation"] { color: #bc5050 !important}
.data.tags span a:hover[href*="=Bad%20Animation"] { background: #bc5050; color: #dddddd !important }

.data.tags span a[href*="=Forced"] { color: #bc5050 !important}
.data.tags span a:hover[href*="=Forced"] { background: #bc5050; color: #dddddd !important }

/*----------Descriptive----------*/
.data.tags span a[href*="=Hentai"] { color: #cb3884 !important}
.data.tags span a:hover[href*="=Hentai"] { background: #cb3884; color: #dddddd !important }

.data.tags span a[href*="=Ecchi"] { color: #d88fdf !important}
.data.tags span a:hover[href*="=Ecchi"] { background: #d88fdf; color: #000000 !important }

.data.tags span a[href*="=Emotional%20Draining"] { color: #9550bc !important }
.data.tags span a:hover[href*="=Emotional%20Draining"] { background: #9550bc; color: #cccccc !important }

.data.tags span a[href*="=OP%20Main"] { color: #497ba5 !important}
.data.tags span a:hover[href*="=OP%20Main"] { background: #497ba5; color: #dddddd !important }

.data.tags span a[href*="=Intelligence"] { color: #497ba5 !important}
.data.tags span a:hover[href*="=Intelligence"] { background: #497ba5; color: #dddddd !important }

.data.tags span a[href*="=Comedy"] { color: #497ba5 !important}
.data.tags span a:hover[href*="=Comedy"] { background: #497ba5; color: #dddddd !important }

.data.tags span a[href*="=Happy%20Tale"] { color: #497ba5 !important}
.data.tags span a:hover[href*="=Happy%20Tale"] { background: #497ba5; color: #dddddd !important }

.data.tags span a[href*="=Romance"] { color: #497ba5 !important}
.data.tags span a:hover[href*="=Romance"] { background: #497ba5; color: #dddddd !important }

.data.tags span a[href*="=Friendship"] { color: #497ba5 !important}
.data.tags span a:hover[href*="=Friendship"] { background: #497ba5; color: #dddddd !important }

.data.tags span a[href*="=Moderate"] { color: #5050bc !important}
.data.tags span a:hover[href*="=Moderate"] { background: #5050bc; color: #dddddd !important }

.data.tags span a[href*="=Confusing"] { color: #5050bc !important}
.data.tags span a:hover[href*="=Confusing"] { background: #5050bc; color: #dddddd !important }

.data.tags span a[href*="=Cringe"] { color: #5050bc !important}
.data.tags span a:hover[href*="=Cringe"] { background: #5050bc; color: #dddddd !important }

/*------------Not sure------------*/
.data.tags span a[href*="=Horror"] { color: #497ba5 !important}
.data.tags span a:hover[href*="=Horror"] { background: #497ba5; color: #dddddd !important }

.data.tags span a[href*="=Psychological"] { color: #497ba5 !important}
.data.tags span a:hover[href*="=Psychological"] { background: #497ba5; color: #dddddd !important }

/*------------Neutral------------*/
.data.tags span a[href*="=Don"] { color: #ababab !important }
.data.tags span a:hover[href*="=Don"] { background: rgba(171,171,171,0.4); color: #ababab !important }

.data.tags span a[href*="=Comments"] { border: 1px solid #999999; color: #ababab !important }
.data.tags span a:hover[href*="=Comments"] { background: #999999; color: #191919 !important }

.data.tags span a[href*="=tag"] { color: #505050 !important}

.data.tags span a[href*="=Score%20Doubt"] { border: 1px solid rgba(171,171,171,0.4); color: #ababab !important }
.data.tags span a:hover[href*="=Score%20Doub"] { background: rgba(171,171,171,0.4); border: 1px solid #212121; color: #ababab !important }

.data.tags span a[href*="=pwr"] { color: #505050 !important}

.data.tags span a[href*="=pw"] { color: #ff00ff !important}
.data.tags span a:hover[href*="=pw"] { background: #ff00ff; color: #ffffff !important }
/*------------------------E-N-D-*/

/*Change entry Background when hovering*/
.list-table-data:hover{
  background: #333333;
}

/*-S-T-A-R-T--------------------*\
|         Colored Scores         |
\*------------------------------*/
/*---------Linear Color---------
.score-label.score-1{
  color: #e06666;
}
.score-label.score-2{
  color: #e67d66;
}
.score-label.score-3{
  color: #ec9466;
}
.score-label.score-4{
  color: #f2ab66;
}
.score-label.score-5{
  color: #f8c266;
}
.score-label.score-6{
  color: #ffd966;
}
.score-label.score-7{
  color: #cdcd62;
}
.score-label.score-8{
  color: #9ac15d;
}
.score-label.score-9{
  color: #67b558;
}
.score-label.score-10{
  color: #34a853;
}
-------Adjusted Colors--------*/
.score-label.score-1{
	color: #e06666;
}
.score-label.score-2{
	color: #e06666;
}
.score-label.score-3{
	color: #e06666;
}
.score-label.score-4{
	color: #e67d66;
}
.score-label.score-5{
	color: #ffd966;
}
.score-label.score-6{
	color: #cdcd62;
}
.score-label.score-7{
	color: #9ac15d;
}
.score-label.score-8{
	color: #67b558;
}
.score-label.score-9{
	color: #34a853;
}
.score-label.score-10{
	color: #34a853;
	border: 1px solid #34a853;
    display: block;
    height: 24px;
    border-radius: 13px;
}
/*------------------------E-N-D-*/

/*Colored status vertical bar size*/
.data.status { width: 2px !important; }
.list-table-data { padding-left: 1px; }


/*-S-T-A-R-T--------------------*\
| Category Color Header Text     |
\*------------------------------*/
.status-menu .status-button{transition:color .3s ease}.status-menu .status-button.on:nth-of-type(1),.status-menu .status-button:nth-of-type(1):hover{color:var(--accent)!important}.status-menu .status-button.on:nth-of-type(2),.status-menu .status-button:nth-of-type(2):hover{color:var(--watching)!important}.status-menu .status-button.on:nth-of-type(3),.status-menu .status-button:nth-of-type(3):hover{color:var(--completed)!important}.status-menu .status-button.on:nth-of-type(4),.status-menu .status-button:nth-of-type(4):hover{color:var(--onhold)!important}.status-menu .status-button.on:nth-of-type(5),.status-menu .status-button:nth-of-type(5):hover{color:var(--dropped)!important}.status-menu .status-button.on:nth-of-type(6),.status-menu .status-button:nth-of-type(6):hover{color:var(--plantowatch)!important}
/*------------------------E-N-D-*/

/*-S-T-A-R-T--------------------*\
| Favourite Hearts (Left) R0.4   |
\*------------------------------*/
.data.tags span{padding:0}

.data.tags span a{margin:1px 0}

.data.tags span a[href*="=Favorite"],.data.tags span a[href*="=Favourite"]{position:absolute;left:-34px;top:calc(50% - 13px);width:26px;height:26px;padding:0;background:var(--bg);border-radius:50%;color:#ababab!important;font-size:0!important;line-height:23px;overflow:hidden;box-shadow:0 1px 2px rgba(0,0,0,.2)}

.data.tags span a[href*="=Favorite"]:before,.data.tags span a[href*="=Favourite"]:before{content:"♥";font-size:18px}
/*------------------------E-N-D-*/

/*-S-T-A-R-T--------------------*\
| Tag Desc Basis Vertical R1.2   |
\*------------------------------*/
.data.tags span a{position:relative}.data.tags span a:not([href*="=Favo"]):after,.data.tags span a:not([href*="=Favo"]):before{position:absolute;z-index:5;display:block;transition:all .15s ease;pointer-events:none;opacity:0}.data.tags span a:not([href*="=Favo"]):after{top:50%;left:-215px;width:200px;height:auto;padding:4px 8px;background:var(--btn-bg);border:1px solid var(--text-dim);border-radius:4px;box-sizing:border-box;color:var(--text);font:11px/15px Arial,Verdana;text-align:left;white-space:pre-wrap;transform:translateY(-50%)}.data.tags span a:not([href*="=Favo"]):before{content:"";top:calc(50% - 5px);left:-15px;border-width:5px;border-style:solid;border-color:transparent transparent transparent var(--text-dim)}.data.tags span a:hover::after{left:-210px;opacity:1}.data.tags span a:not([href*="=Favo"]):hover:before{left:-10px;opacity:1}
/*------------------------------*/
/*----------Personal------------*/
.data.tags span a[href*="=Must%20Watch"]:after {
	content: "A very good anime that I believe most people would enjoy and would absolutly not regret watching it, I would recommend you watch this if you haven't already, even if I don't know your tastes."
}
.data.tags span a[href*="=Favorite"]:after {
	content: "TAGDESC"
}
.data.tags span a[href*="=Personal%20Collection"]:after {
	content: "Belongs to the list of animes that impacted me in some (important?) way or that I think are good enough to be on a smaller list."
}
.data.tags span a[href*="=Rewatched"]:after {
	content: "I liked this anime enough to make me watch it all over again."
}
.data.tags span a[href*="=Manga"]:after {
	content: "I liked the story so much I wanted to read the manga."
}
/*------------Positive-----------*/
.data.tags span a[href*="=Easy%20Watch"]:after {
	content: "These animes make me glue to the screen and are always fun to watch. Indicative of a Good Plot"
}
.data.tags span a[href*="=Chill"]:after {
	content: "It's good to watch when you need to relax or take a break from mental taxing animes."
}
.data.tags span a[href*="=Art%2FAnimation"]:after {
	content: "This anime had either beutifull art or a great animation and it should be commended for it."
}
/*------------Negative-----------*/
.data.tags span a[href*="=Not%20Worth"]:after {
	content: "I think this anime is mostly a waste of time and that it's not worth recommending to anyone."
}
.data.tags span a[href*="=Boring"]:after {
	content: "In some way it's boring, not necessarily all of it or at the same level of other animes with this tag."
}
.data.tags span a[href*="=Bad%20Animation"]:after {
	content: "The 'animation' was immersion breaking in some way."
}
.data.tags span a[href*="=Forced"]:after {
	content: "These animes are not made around the plot but the other way around, the plot is made so they can show boobs."
}
.data.tags span a[href*="=Cringe"]:after {
	content: "It either was or had parts that made me cringe."
}
/*----------Descriptive----------*/
.data.tags span a[href*="=Hentai"]:after {
	content: "Anime Pornography."
}
.data.tags span a[href*="=Ecchi"]:after {
	content: "Slang term in the Japanese language for playfully sexual actions. As an adjective, it is used with the meaning of 'sexy', 'dirty' or 'naughty'. -Wiki"
}
.data.tags span a[href*="=Emotional%20Draining"]:after {
	content: "These animes tax my emotional self and can easily change my mood "
}
.data.tags span a[href*="=OP%20Main"]:after {
	content: "The main character is in another level of power, it gives room to some awesome interactions with the rest of the cast."
}
.data.tags span a[href*="=Intelligence"]:after {
	content: "The main character is very intelligent and resorts to elaborate plans to overpower other characters."
}
.data.tags span a[href*="=Comedy"]:after {
	content: "There are very different Comedies but this anime deffinitely made me laugh."
}
.data.tags span a[href*="=Happy%20Tale"]:after {
	content: "This anime portraits a 'simple' and happy story without much else to it, it feels like how Disney movies should be."
}
.data.tags span a[href*="=Romance"]:after {
	content: "Romance is a genre which places its primary focus on the relationship and romantic love between two people.\a\a-Wiki"
}
.data.tags span a[href*="=Friendship"]:after {
	content: "These animes show us the a group of friends coming closer and resolving their problems.\a'Power of Friendship' yes, it is cliche."
}
.data.tags span a[href*="=Moderate%20Watch"]:after {
	content: "It's not a bad anime neither is it necessarily boring, but it didnt glue me to the screen and I sometimes 'had to go finish the anime'."
}
.data.tags span a[href*="=Confusing"]:after {
	content: "It had an hard to understand plot, I'm still not quite sure what that was all about."
}
/*------------Not sure------------*/
.data.tags span a[href*="=Horror"]:after {
	content: "A horror film is one that seeks to elicit fear in its audience for entertainment purposes.\a\a-Wiki"
}
/*------------Neutral------------*/
.data.tags span a[href*="=Don"]:after {
	content: "I watched this anime long before I started keeping track of the information that would be usefull to add so it might be missing some."
}
.data.tags span a[href*="=Comments"]:after {
	content: "More information that might be relevant in the comments."
}
.data.tags span a[href*="=Recap"]:after {
	content: "It's a recap of what happened in previous seasons, it might be worth to watch a youtube video instead."
}
.data.tags span a[href*="=Good%20OST"]:after {
	content: "I took notice of either an OP, ED or random music, it was great by itself or it fit the context in a great way, more information about what exacly in the Comments."
}
.data.tags span a[href*="=tag"]:after {
	content: "This tag serves to group the animes of the same series/universe."
}
.data.tags span a[href*="=Score%20Doubt%20-"]:after {
	content: "I'm unsure about if I should give the anime 1 more point in score."
}
.data.tags span a[href*="=Score%20Doubt%20%2B"]:after {
	content: "I'm unsure about if I should give the anime 1 less point in score."
}
.data.tags span a[href*="=pwr"]:after {
	content: "Tag makes it easier to search PTW anime by marking the already released ones"
}
.data.tags span a[href*="=pw"]:after {
	content: "Temporary tag, I plan to watch this anime very soon before any that don't have this tag."
}
/*------------------------E-N-D-*/

/*Fix for MAL-Sync size*/
.data.progress{
    width: 120px;
}


/* Media query for devices under 1440px (takes away image preview when it would have been off the screen)*/
@media all and (max-width:1400px) 
{
.data.image a:before{left:0px;}
}
